<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--BBVA-P-423:RQCONYFOR-05 07/12/2016 Se agregaron uris y variables para consultas a servicios bbva-->
<!--BBV-P-423: AMR: 14/12/2016 RQSOL-01 Precalificacion Brechas (31, 49, 75)-->
<!--BBVA-P-423:RQ03 AVH: 15/12/2016 Se agrega URI para WS Cuestionarios-->
<!--BBV-P-423 BBV-P-423 RQCONYFOR-07: AVH: 18/01/2017 Se agrega URI para WS PreFormalizacion,createCarLoanFormalize -->
<!--BBV-P-423 20/01/2017: JRHM RQCONYFOR-02: Se agregan nuevas key para la impresion de polizas de los brokers BBVA,ORDAS,EIKOS y MARSH--> 
<!--BBVA-P-423:RQADM-03 GVARGAS: 03/02/2017 Add Key Values para Comparador-->
<!--BUG-PD-13  GVARGAS  28/02/2017 Add URIs AutoLogIn-->
<!--BUG-PD-18  GVARGAS  06/03/2017 Add UserID & iv_ticket-->
<!--BBV-P-423: RQADM-37: JRHM: 17/03/2017 Se url nueva para la tara de transparencia (IFAI)-->
<!--BBVA-P-423: RQCONYFOR-07_2: AVH: 11/04/2017 modificaciones ruta WS createCarLoanFormalize-->
<!--BBV-P-423: AMR: 12/04/2017 RQADM-18 Evaluacion-->
<!--BUG-PD-32: AVH: 18/04/2017 Se agregan ruta WS con la secuencia 1 getQuestionnaire, 2 createQuestionnaire, 3 validateQuestionnaire-->
<!--BUG-PD-33 JRHM 24/04/17 SE AGREGAR LAS URLS PARA LA EMISION DE SEGUROS DE DANOS-->
<!--BBV-P-423-RQADM-08 JBEJAR 04/05/2017  SE AGREGAN LAS RUTAS AL WEB CONFIG DE LOS SITIOS WEB-->
<!--BBV-P-423-RQADM-10 JBEJAR 05/05/2017  SE AGREGAN LAS RUTAS AL WEB SERVICE -->
<!--BBVA-P-423 GVARGAS 05/05/2017 RQADM-07 Antifraude Basico Cliente, Empresa, Riesgos y Pre-Aprobados 40,76-->
<!--BUG-PD-45:RHERNANDEZ: 15/05/17 SE AGREGAN URL PARA LA CANCELACION DE POLIZAS DE SEGURO DE EIKOS Y MARSH-->
<!--RQADM-20: RHERNANDEZ: 19/05/17: SE AGREGAN URIS PARA LA CREACION DE CUESTIONARIOS DE AUTENTICACION-->
<!--BUG-PD-47 GVARGAS 23/05/2017 Alta Clientes-->
<!-- RQMSG  JBEJAR 26/05/2017  Se agrega la uri del emails y sms automatico.-->
<!--RQCAINTBAC-03: ERODRIGUEZ: 26/05/17  se creo la clase para consulta del servicio TXEMDC-->
<!--BUG-PD-51 GVARGAS 23/05/2017 Mod Clientes-->   
<!--BUG-PD-69:MPUESTO:05/06/17 ADICION DE PARAMETROS PARA SERVICIOS DE PANTALLA SELECCION DE CLIENTE-->
<!--PUG-PD-68: RHERNANDEZ: 02/06/17: SE AGREGA URL PARA EL SERVICIO DE CANCELACION DE POLIZAS DE DANOS EN BANCOMER-->
<!--BUG-PD-67 GVARGAS 05/06/2017 Hermes-->
<!--RQAUTBIO-01:MPUESTO:21/07/2017 AUTENTICACION BIOMETRIA (INE)-->
<!--BUG-PD-81: RHERNANDEZ: 10/06/17: SE AGREGA EMISION DE SEGUROS DE VIDA Y DANIOS BBVA-->
<!--BUG-PD-98: RHERNANDEZ: 20/06/17: SE AGREGA URL PARA CANCELACION DE POLIZAS-->
<!--BUG-PD-128: RHERNANDEZ: 01/07/17: SE AGREGAN VARIABLES PARA USUARIOS Y CONTRASENAS DE BROKERS-->
<!--BUG-PD-139 GVARGAS 04/07/17 Cambio CR para prospector-->
<!--BUG-PC-85 GVARGAS 05/07/2017 consumerID_Extranet-->
<!--RQAUTBIO-01:MPUESTO:21/06/2017 AUTENTICACION BIOMETRIA (INE)-->
<!-- BUG-PD-158: RHERNANDEZ: 19/07/17 SE CREA KEY PARA CAMBIOS DE QUOTE FUNCIONAL PARA ENTREVISTA DE SALUD-->
<!-- BUG-PD-169 GVARGAS 28/07/17 Cambios logIn & Switch-->
<!-- BUG-PD-180  GVARGAS 07/08/2017 Correcion Session timeout-->
<!-- BUG-PD-170  JBEJAR 18/07/2017 Se agregan parametros para enviar segundos correos.-->
<!-- BUG-PD-204 GVARGAS 19/09/2017 WS biometrico-->
<!-- BUG-PD-222 GVARGAS 05/10/2017 Mejoras captura INE-->
<!-- BUG-PD-229 GVARGAS 09/10/2017 Captura Hand Position & FingerPrint WSQ-->
<!-- BBVA-P-423 RQ-PI7-PD1 GVARGAS 23/10/2017 Mejoras CI Precalificacion & Preforma-->
<!--BUG-PD-360: RHERNANDEZ: 19/02/18: SE AGREGA URL PARA EL SERVICIO DE RECOTIZACION PARA EL CALCULO DEL SEGURO DE VIDA VARIABLE-->
<!-- RQ-PD-23: ERODRIGUEZ: 15/02/2018: Nuevo servicio getScoreEvaluation-->
<!-- RQ-PD28: DJUAREZ: 27/02/2018 Se modifica el visor para mostrar varios documentos en una pantalla-->

<configuration>
  <appSettings>
    <add key="Provedor" value="System.Data.SqlClient" />
    <!--<add key="Conexion" value="Data Source=consorcioserver\SQL2012;Initial Catalog=ProdeskNet;User ID=sa;Password=Xc2On1!9"/>
    <add key="ConexProcotiza" value="Data Source=consorcioserver\SQL2012;Initial Catalog=Procotiza_Prod;User ID=sa;Password=Xc2On1!9"/>
    <add key="Conexion" value="Data Source=wvmcredabdde01;Initial Catalog=bmnpad02;User ID=telepro;Password=telepro"/>
    <add key="ConexProcotiza" value="Data Source=wvmcredabdde01;Initial Catalog=bmnpad01;User ID=telepro;Password=telepro"/>-->
    <!--<add key="Conexion" value="Data Source=LTELMXMUAA\SQL2014;Initial Catalog=bmnpad02;User ID=sa;Password=telepro"/>
    <add key="ConexProcotiza" value="Data Source=LTELMXMUAA\SQL2014;Initial Catalog=bmnpad01;User ID=sa;Password=telepro"/>-->
    
    <!--<add key="Conexion" value="Data Source=DESKTOP-UK0NCD5\CGARCIASQL;Initial Catalog=bmnpad02;User ID=sa;Password=telepro"/>
    <add key="ConexProcotiza" value="Data Source=DESKTOP-UK0NCD5\CGARCIASQL;Initial Catalog=bmnpad01;User ID=sa;Password=telepro"/>-->
    
    
        <add key="ConexProcotiza" value="Data Source=150.100.106.22;Initial Catalog=bmnpad01;User ID=telepro;Password=telepro" />
        <add key="Conexion" value="Data Source=150.100.106.22;Initial Catalog=bmnpad02;User ID=telepro;Password=telepro" />
    
         <!--<add key="ConexProcotiza" value="Data Source=150.100.152.84;Initial Catalog=bmnpap01;User ID=telepro;Password=telepro"/>
        <add key="Conexion"       value="Data Source=150.100.152.84;Initial Catalog=bmnpap02;User ID=telepro;Password=telepro"/>-->
  
    <!--WebServices-->
      <!--Intentos e intervalos de conexion TSEC-->
    <add key="Interval" value="500" />
    <add key="Intents" value="1" />
    <add key="uriGRANTINGTICKET" value="https://150.250.220.36:18500/TechArchitecture/mx/grantingTicket/V02" />
      <!--Intentos e intervalos de conexion TSEC-->

    <add key="uriIngestadocu" value="https://150.250.220.36:18500/customerDocuments/V01/importEncriptedDocument" />
    <add key="uriValidaAgencia" value="https://150.250.220.36:18500/agencies/V01/" />
    <add key="Cuestionario" value="https://150.250.220.36:18500/policyHiringQuestionnaires/V01/" />
    <add key="QuoteSalud" value="145052" /> <!-- Produccion   4893374 Desarrollo 145052 -->
    <add key="createQuestionnaire" value="https://150.250.220.36:18500/policyHiringQuestionnaires/V01/createQuestionnaire" />
    <add key="validateQuestionnaire" value="https://150.250.220.36:18500/policyHiringQuestionnaires/V01/validateQuestionnaire" />



    <add key="PreFormalizacion" value="https://150.250.220.36:18500/loans/V04/createCarLoanPreformalize" />
    <add key="createCarLoanFormalize" value="https://150.250.220.36:18500/loans/V04/createCarLoanFormalize" />
    <add key="uriEmiORDAS" value="https://150.250.220.36:18500/insuranceBrokers/V01/ordas/policy" />
    <add key="uriEmiEIKOS" value="https://150.250.220.36:18500/insuranceBrokers/V01/eikos/policy" />
    <add key="uriEmiMARSH" value="https://150.250.220.36:18500/insuranceBrokers/V01/marsh/policy" />
    <add key="uriImpORDAS" value="https://150.250.220.36:18500/insuranceBrokers/V01/ordas/printPolicy" />
    <add key="uriImpEIKOS" value="https://150.250.220.36:18500/insuranceBrokers/V01/eikos/printPolicy" />
    <add key="uriImpMARSH" value="https://150.250.220.36:18500/insuranceBrokers/V01/marsh/printPolicy" />
    <add key="uriImpBBVA" value="https://150.250.220.36:18500/insurancePolicies/V01/printPolicy" />
    <add key="uriCanclEIKOS" value="https://150.250.220.36:18500/insuranceBrokers/V01/eikos/cancelPolicy" />
    <add key="uriCanclMARSH" value="https://150.250.220.36:18500/insuranceBrokers/V01/marsh/cancelPolicy" />
    <add key="uriCanclORDAS" value="https://150.250.220.36:18500/insuranceBrokers/V01/ordas/cancelPolicy" />
    <add key="uriCanclBBVA" value="https://150.250.220.36:18500/insurancePolicies/V01/cancelQuote" />
    <!-- Seguros BBVA -->
    <add key="getRateCarQuoteBBVA" value="https://150.250.220.36:18500/insurancePolicies/V01/getRateCarQuote" />
    <add key="getRateLifeQuoteBBVA" value="https://150.250.220.36:18500/insurancePolicies/V01/getRateLifeQuote" />
    <add key="createCustomerDataBBVA" value="https://150.250.220.36:18500/insurancePolicies/V01/createCustomerData" />
    <add key="createCarDataBBVA" value="https://150.250.220.36:18500/insurancePolicies/V01/createCarData" />
    <add key="createQuoteBBVA" value="https://150.250.220.36:18500/insurancePolicies/V01/createQuote" />
    <add key="createPolicyBBVA" value="https://150.250.220.36:18500/insurancePolicies/V01/createPolicy" />
    <add key="GetColony" value="https://150.250.220.36:18500/corporateCatalogs/V01/CO/listInsuranceCustomerCatalogs" />
    <add key="GetPolicy" value="https://150.250.220.36:18500/insurancePolicies/V01/getPolicyData" />
    <add key="urlBBVAV" value="https://150.250.220.36:18500/lifeInsurances/V01/quotes" />
    <!--Usuarios seguros Brokers-->
    <add key="useridEikos" value="zv11K0NbxCr5wca4YaQUlA==" />
    <add key="accessPasswordEikos" value="8JKrntOaUTNK9I/EY0J/8w==" />

    <add key="useridMarsh" value="sisoramr" />
    <add key="passwordMarsh" value="12345678" />

    <add key="useridOrdas" value="WSFINANCIA" />
    <add key="passwordOrdas" value="WSFINANCIA1" />
    
    <add key="aapTypeBBVA" value="45555F6" />
    <add key="channelBBVA" value="8" />
    <add key="subChannelBBVA" value="8" />
    <add key="branchOfficeBBVA" value="CONSUMER FINANCE" />
    <add key="managementUnitBBVA" value="0001" />
    <add key="userBBVA" value="CARLOS" />

    
     <!-- Cuestionario Autenticacion-->
    <add key="uriAutentQuiz" value="https://150.250.220.36:18500/questionnaires/V01/createQuestionnaire" />
    <add key="uriRespAutentQuiz" value="https://150.250.220.36:18500/questionnaires/V01/verifyCustomerIdentity" />
      <!--getCustomer-->
        <add key="Customer" value="https://150.250.220.36:18500/customers/V05/" />
      <!--requestFundingProspectus-->
        <add key="url" value="https://150.250.220.36:18500/CbScores/V02/" />
        <add key="Prospectus" value="requestFundingProspectus" />
        <add key="ProductCode" value="PA" />
        <!--referenceNumber-->
        <add key="Entidad" value="0074" />
        <add key="CR" value="2167" />
      <!--requestFundingProspectus-->
    
      <!--getScoreEvaluation-->
	  <!--<add key="urlScore" value="https://150.250.220.36:18500/CbScores/V03/getScoreEvaluation" />
	  <add key="getScoreEvaluation" value="https://150.250.220.36:18500/CbScores/V03/getScoreEvaluation" />-->

	  <add key="urlScore" value="https://150.250.140.226:8700/CbScores/V04/getScoreEvaluation" />
        <add key="getScoreEvaluation" value="https://150.250.140.226:8700/CbScores/V04/getScoreEvaluation" />
    
      <!--getScoreEvaluation-->
        <add key="createCustomer" value="https://150.250.220.36:18500/PEHH/V01/" />
        <add key="createContactInformation" value="https://150.250.220.36:18500/customers/V03/createContactInformation" />
    
        <add key="getCustomer" value="https://150.250.220.36:18500/customers/V03/?$filter=(clientNumber==CambiarPorCuenta)" />
        <add key="getContactInformation" value="https://150.250.220.36:18500/customers/V03/CambiarPorCuenta/getContactInformation?$filter=channel==21" />

        <add key="updateCustomer" value="https://150.250.220.36:18500/customers/V03/" />
        <add key="updateContactInformation" value="https://150.250.220.36:18500/customers/V03/updateContactInformation" />
        <add key="validateIdentityCard" value="https://150.250.220.36:18500/INEOperations/V01/validateIdentityCard" />
        <add key="codePawPrint" value="9100" />
        <add key="regresoINE" value="1" />
    
      <!--createCustomer-->
      
    <!--createCustomer-->
      <!--Antifraude Basico-->
        <add key="RiesgoWS" value="https://150.250.220.36:18500/reports/V01/getEvaluationRisk/" />
        <add key="CostumersWS" value="https://150.250.220.36:18500/customers/V02/listCustomers" />
        <add key="CostumerDateCount" value="https://150.250.220.36:18500/customers/V05/?$filter=(clientNumber==CambiarPorCuenta)" />
        <add key="Proaprobados" value="https://150.250.220.36:18500/loans/V02/listLoanAlternatives/?customerId=CambiarPorCuenta" />
        <add key="Nomina" value="https://150.250.220.36:18500/payrollAccounts/V01/listDispersionsPayrollAccounts/?customerId=CambiarPorCuenta" />
    
      <!--Viewer-->
        <add key="Archiving" value="https://150.100.22.50/#/outerview/get?finauto="/>
        <add key="ArchivosExistentes" value="http://150.50.102.88:16016/fimxexpunic/SenderDocumentServlet?select=" />
        <add key="getCustomerDocumentData" value="https://150.250.220.36:18500/customerDocuments/V01/getCustomerDocumentData" />
    
      <!--Intentos e intervalos de conexion TSEC-->
        <add key="Interval" value="500" />
        <add key="Intents" value="1" />
        <!--<add key="uriGRANTINGTICKET" value="https://150.250.220.36:18500/TechArchitecture/mx/grantingTicket/V02" />-->
        <add key="urlProCotiza" value="http://localhost:20117/CotizadorWeb/Login.aspx" />
        <add key="salidaWAN" value="http://localhost:52633/ProdeskNet/Login.aspx" />
        <add key="salidaLAN" value="http://localhost:52633/ProdeskNet/Login.aspx" />

        <!--<add key="consumerID" value="10000004" />
        <add key="userID" value="mx.cpbast21_NoValido" />
        <add key="iv_ticket" value="v8pfYRp5PvNm8P1pfQtMN5dT+gSF0BX8MeT49W1RYj/5w43plJpAPQ==" />
         -->
        <add key="consumerID" value="10000056" />
        <add key="GENERIC_consumerID" value="10000056" />
        <add key="userID" value="mx.cpbast03" />
        <add key="GENERIC_userID " value="mx.cpbast05" />
        <add key="iv_ticket" value="rby5t64nGBCHY8PHnyubdv7VjDWU80b/hbVQkhWVBO4RgHpexXDew1q0ADvAQ9NE" />
        <add key="css" value="autojlr_des_mx_web" />
        <!--Cofetel web services -->
      <add key="Cofetel" value="https://150.250.220.36:18500/customers/V03/D001234/validatePhone" />
      <add key="AprobadoBCOM" value="https://150.250.220.36:18500/notifications/V01/sendNotifications" />
      <add key="CorreoPrueba" value="marredondo@telepro.com.mx" />
      <add key="CELULAR" value="5560929329" />
      <add key="COMPANIA" value="TELCEL" />
      <!--LogIn Interno y Portal Bancomer-->
        <add key="LoginEXTERNO" value="0" />
        <add key="ValidarPassword" value="0" />
		<add key="Produccion" value="0" />
        <add key="RedirectLAN" value="https://ecoaaccd.intranet.com.mx:5443/mbom_mx_web/mbom_mx_web/PortalLogon" />
        <add key="RedirectWAN" value="https://www.bancomer.com/personas/credito-auto.jsp" />
        <add key="PaginaIFAI" value="http://inicio.ifai.org.mx" />
        <add key="PaginaCofetel" value="http://www.quienhabla.mx/" />
        <add key="PaginaQuien" value="http://www.quienhabla.mx/" />  
        <add key="PaginaFacebook" value="https://www.facebook.com/" />
        <add key="PaginaCedula" value="http://www.cedulaprofesional.sep.gob.mx/" />
        <add key="PaginaLinkedin" value="https://mx.linkedin.com/" /> 
        <add key="PaginaIne" value="http://listanominal.ine.mx/" />
	  <!--cfdi-->
	  <add key="verificaCFDI" value="https://150.250.220.36:18500/SAToperations/V01/verifyInvoice" />

    <!--BUG-PD-69:MPUESTO:05/06/17 INICIO-->
    <!--ip's Web Services-->
    <add key="ipWebServices_01" value="150.250.220.36:18500" />
    <add key="ipWebServices_02" value="150.250.220.36:18500" />
    <!--ip's Web Services-->

    <!--ListCustomers-->
    <add key="uriListCustomers" value="http://@@ipWebServices_01/customers/@@versionListCustomers/listCustomers" />
    <add key="versionListCustomers" value="V02" />
    <!--ListCustomers-->
    <!--customersAddresses-->
    <add key="uriCustomersAddresses" value="http://@@ipWebServices_01/customers/@@versionCustomerAddresses/@@CustomerId/customersAddresses/?operationType=@@paramOperationType" />
    <add key="versionCustomerAddresses" value="V03" />
    <add key="paramOperationType" value="C" />
    <!--customersAddresses-->
    <!--BUG-PD-69:MPUESTO:05/06/17 FINAL-->
    
    <!--RQAUTBIO-01:MPUESTO:21/06/2017 INICIO-->
    <add key="BiometricPageURL" value="Biometric.aspx" />
    <!--PARA UTILIZAR LA EXTERNA AL SITIO PRODESKNET DEJAR EL VALUE DE LA LLAVE ANTERIOR VACÍO: "" -->
    <add key="ExternalBiometricPageURL" value="http://localhost:52528/Biometric.aspx" />
    <!--RQAUTBIO-01:MPUESTO:21/06/2017 FINAL-->

    <add key="getDocumentDataOfCar" value="https://150.250.220.36:18500/loans/V06/getDocumentDataOfCar/?creditNumber=Cambiar_NUM_CREDIT" />
    <add key="contractName_1" value="EN VIGOR" />
    <add key="contractName_2" value="LIQUIDADO" />

    <!--WebServices-->
  
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="100000" executionTimeout="600" />
    <sessionState cookieless="UseCookies" mode="InProc" timeout="600" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Windows.Forms, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" slidingExpiration="true" timeout="30" protection="All" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages theme="ProdeskNet" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
	
  </system.web>
  <!--RQAUTBIO-01:MPUESTO:21/06/2017 INICIO-->
  <location path="Biometric.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--RQAUTBIO-01:MPUESTO:21/06/2017 FINAL-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=8,9,10,Edge" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <!--<meta http-equiv="X-UA-Compatible" content="IE=7"/>-->
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="Default.htm" />
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" />
    <httpErrors errorMode="Detailed" />
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
    <staticContent>
            <remove fileExtension=".pdf" />
            <mimeMap fileExtension=".pdf" mimeType="file/download" />
        </staticContent>
  </system.webServer>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--<location path="aspx/Descargas.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!--<configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core"/>
  </configSections>
  <dotless minifyCss="false" cache="true" web="false" strictMath="false"/>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>